.page{
    height: 100vh;
    width: 100%;
}

/* 1st Page  */

.container1{
    height: 110%;
    text-align: center;
    position: relative;
}

.container1 .main img{
    margin-top: 2rem;
    width: 30rem;
    height: 15rem;
    object-fit: cover;
}


.container1 .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media (min-width: 50em){

    .container1 .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        width: 100%;
    }
    .container1 .main img{
        margin-top: 1rem;
        width: 100rem;
        height: 30rem;
    }

    .container1 .main .main-txt{
        font-size: var(--fs-500);
    }

}


/* 2nd Page  */


.container2{
    height: 110%;
    overflow: hidden;
    position: relative;
}

.container2 .main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container2 .main .main-txt{
    font-size: var(--fs-400);
}

.container2 .main{
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    height: 90%;
    width: 90%;
    margin: auto;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    background-color: rgba(255, 255, 255, 0.5);
}

@media (min-width: 50em){

    .container2 .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80%;
        width: 80%;
        margin: auto;
        margin-top: 5rem;
    }
    .container2 .main .img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container2 .main .main-txt{
        padding: 2rem;
    }

}


/* 3rd Page  */

.container3{
    height: 110%;
    text-align: center;
    position: relative;
}


.container3 .main img{
    margin-left: 0.25rem;
    margin-top: 2rem;
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}



.container3 .main{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

@media (min-width: 50em){

    .container3 .main{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        width: 100%;
    }
    .container3 .main img{
        margin-left: 2rem;
        margin-top: 1rem;
        width: 37.5rem;
        height: 37.5rem;
    }

    .container3 .main .main-txt{
        font-size: var(--fs-500);
    }

}
