.page{
    height: 100vh;
    width: 100%;
}

/* 1st section  */

.container1{
    height: 160%;
    position: relative;
    background-image: url(/gym_images/images/pexels-taryn-elliott-4099238.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.container1 .contents{
    height: 80%;
    width: 80%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.container1 .contents .box img{
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 2px solid black;

}

.container1 .contents .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container1 .main-txt{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-decoration: underline black 4px;
}

@media (min-width: 50em){
    .container1{
        height: 100%;
    }

    .container1 .contents{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .container1 .main-txt{
        font-size: 2rem;
        font-weight: 700;
    }

    .container1 .contents .box img{
        height: 20rem;
        width: 20rem;
        object-fit: cover;
        margin-bottom: 0.5rem;
        border-radius: 1rem;
        border: 5px solid black;
    }
}






/* 2nd section */

.container2{
    height: 180%;
    position: relative;
    text-align: center;
    background-image: url(/gym_images/images/keagan-henman-xPJYL0l5Ii8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(var(--clr-accent-100), var(--clr-tertiary-700)); */
}

.container2 .contents{
    height: 80%;
    width: 80%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container2 .contents .box img{
    height: 15rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 0.25rem;
    border: 2px solid black;

}
.container2 .contents .box{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 .main-txt{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    text-decoration: underline black 4px;
}

@media (min-width: 50em){
    .container2{
        height: 100%;
    }

    .container2 .contents{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .container2 .main-txt{
        font-size: 2rem;
        font-weight: 700;
    }

    .container2 .contents .box img{
        height: 25rem;
        width: 20rem;
        object-fit: cover;
        margin-bottom: 0.5rem;
        border-radius: 0.25rem;
        border: 4px solid black;
    }
}


/* 3rd section*/

.container3{
    height: 180%;
    position: relative;
    text-align: center;
    background-image: url(/gym_images/images/keagan-henman-xPJYL0l5Ii8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    /* background: linear-gradient(var(--clr-accent-100), var(--clr-tertiary-700)); */
}

.container3 .contents{
    height: 80%;
    width: 80%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.container3 .contents .box img{
    height: 15rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 0.25rem;
    border: 2px solid black;

}
.container3 .contents .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.container3 .main-txt{
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
    text-decoration: underline black 4px;
}

@media (min-width: 50em){
    .container3{
        height: 100%;
    }

    .container3 .contents{
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .container3 .main-txt{
        font-size: 2rem;
        font-weight: 700;
    }

    .container3 .contents .box img{
        height: 25rem;
        width: 20rem;
        object-fit: cover;
        margin-bottom: 0.5rem;
        border-radius: 0.25rem;
        border: 4px solid black;
    }
}
